# ==============================================================================
# Copien este archivo, renombren la copia a '.env' en la raíz del proyecto
# ==============================================================================

# Entorno y Puerto
PORT=3000

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgrespassword
DB_DATABASE=restaurant_db