# ==============================================================================
# Copien este archivo, renombren la copia a '.env' en la raíz del proyecto
# ==============================================================================

# Entorno y Puerto
PORT=3000

# Base de datos PostgreSQL
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=